@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	min-width: 400px;
	min-height: 650px;
}

@layer base {
	body {
		@apply /* border-4 border-solid border-red-600 */
		flex flex-col justify-center items-center
		relative;
	}
}

@layer components {
	.main-container {
		@apply /* border-4 border-solid border-blue-600 */
		flex flex-col justify-start items-center
		relative
		w-full h-full;
	}
}

/* Mobile Nav Styling */
@layer components {
	.mobile-nav-container {
		@apply /* border-2 border-solid border-yellow-600 */
		bg-slate-800
		flex flex-row justify-between items-center
		w-full h-fit
		z-20;
	}

	.mobile-nav-logo {
		@apply /* border-2 border-solid border-purple-600 */
		flex justify-center items-center
		relative
		w-[150px] h-[80px];
	}

	.mobile-nav-menu-container {
		@apply /* border-2 border-solid border-orange-600 */
		flex justify-center items-center
		relative
		text-white
		w-[80px] h-[80px];
	}

	.mobile-nav-modal {
		@apply border-2 border-solid border-yellow-600
		flex flex-col justify-center items-center
		fixed
		w-full h-full
		bg-slate-700
		text-white
		text-5xl
		gap-12;
	}
}

/* Hero Page */
@layer components {
	.hero-container {
		@apply border-2 border-solid border-red-500
		flex flex-col justify-center items-center
		gap-4
		w-full
		shrink-0
		bg-slate-900
		text-center
		text-white;
		height: calc(100vh - 80px);
	}
	.hero-title {
		@apply border-2 border-solid border-white
		flex flex-col justify-center items-center
		text-4xl
		w-full h-fit;
	}
	.hero-3d {
		@apply border-2 border-solid border-white
		flex justify-center items-center
		text-5xl
		w-full h-[65%];
	}
	.hero-text {
		@apply border-2 border-solid border-white
		flex flex-col justify-center items-center
		text-2xl
		w-full h-fit;
	}
}

/* Services */
@layer components {
	.services-container {
		@apply border-2 border-solid border-yellow-500
		flex flex-col justify-center items-center
		text-white
		relative
		shrink-0
		w-full h-screen;
	}
	.services-bg {
		@apply bg-green-950
		w-1/2 h-full
		absolute
		top-0 left-0;
	}
	.services-content {
		@apply border-2 border-solid border-red-400
		flex flex-col justify-start items-center
		w-full h-full
		gap-4;
	}
	.services-header {
		@apply border-2 border-solid border-blue-300
		flex flex-row justify-center items-center
		w-full h-fit
		py-10
		text-4xl;
	}
	.services-title,
	.services-list {
		@apply flex justify-center items-center
		w-1/2 h-fit;
	}
	.services-card {
		@apply border-2 border-solid border-white
		flex justify-center items-center
		p-10
		w-full h-full;
	}
}

/* Service Card */
@layer components {
	.servcard-container {
		@apply border-4 border-solid border-white
		flex flex-col justify-start items-center
		w-full h-full
		gap-2
		relative
		bg-amber-950
		p-4;
	}
	.servcard-image {
		@apply border-2 border-solid border-black
		flex justify-center items-center
		relative
		w-full h-[300px];
	}
	.servcard-desc {
		@apply border-2 border-solid border-white
		relative
		w-full h-fit;
	}
	.servard-buttons {
		@apply border-2 border-solid border-white
		flex flex-row justify-between items-center
		w-full h-fit;
	}
}
