@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* This styles the scrollbar track */
	::-webkit-scrollbar-track {
		background: #505050; /* Track background */
	}

	/* This styles the scrollbar itself */
	::-webkit-scrollbar {
		width: 10px; /* Width of the scrollbar */
		height: 5px; /* Height of the scrollbar for horizontal scrolls */
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #d2d2d2; /* Handle color */
		border-radius: 5px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #fff; /* Handle color on hover */
	}
}

html,
body {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	min-width: 400px;
	min-height: 650px;
	background-color: black;
}

@layer base {
	body {
		@apply /* border-4 border-solid border-red-600 */
		flex flex-col justify-center items-center
		relative;
	}
}

@layer components {
	.main-container {
		@apply /* border-4 border-solid border-blue-600 */
		flex flex-col justify-start items-center
		relative
		w-full h-full
    overflow-y-scroll;
		min-width: 400px;
		min-height: 650px;
	}
}

/* Nav Styling */
@layer components {
	.blur-nav-container {
		@apply /* border-2 border-solid border-yellow-600 */
		flex flex-row justify-between items-center
		bg-slate-800/60
		w-[97%] h-fit
		rounded-3xl
		fixed
		top-5
		ml-auto
		mr-auto
		px-4
		z-50;
		backdrop-filter: blur(8px);
	}
	.nav-container {
		@apply /* border-2 border-solid border-yellow-600 */
		bg-slate-800
		flex flex-row justify-between items-center
		w-full h-fit
		px-4
		z-50;
	}
	.nav-logo {
		@apply /* border-2 border-solid border-purple-600 */
		flex justify-center items-center
		relative
		w-[150px] h-[80px];
	}
	.nav-link-container {
		@apply /* border-2 border-solid border-white */
		w-fit h-full
		text-white
		text-2xl
		gap-6
		max-[768px]:hidden
		md:flex flex-row justify-center items-center;
	}
	.mobile-nav-menu-container {
		@apply /* border-2 border-solid border-orange-600 */
		flex justify-center items-center
		relative
		text-white
		w-[80px] h-[80px]
		
		md:hidden;
	}

	.mobile-nav-modal {
		@apply /* border-2 border-solid border-yellow-600 */
		flex flex-col justify-center items-center
		fixed
		w-full h-full
		bg-slate-700
		text-white
		text-5xl
		gap-12
		z-40;
	}
}

/* Hero Page */
@layer components {
	.hero-container {
		@apply border-2 border-solid border-red-500
		flex justify-center items-center
    shrink-0
		bg-slate-900
		text-center
		text-white
    p-2;

		width: 100%;
		height: calc(100vh - 80px);
		min-width: 400px;
		min-height: 650px;
	}
	.hero-content {
		@apply border-4 border-white border-dotted
    flex flex-col justify-center items-center
    w-full h-full
    max-w-[1400px]
    gap-4

    md:p-6
    md:flex-row;
	}
	.hero-title {
		@apply border-[1px] border-dashed border-white/50
		flex flex-col justify-center items-center
		text-3xl
		w-full h-fit
    
    md:items-start
    md:text-4xl
    lg:text-5xl;
	}
	.hero-3d {
		@apply border-[1px] border-dashed border-white/50
		flex justify-center items-center
		text-5xl
		w-full h-[50%];
	}
	.hero-text {
		@apply border-[1px] border-dashed border-white/50
		flex flex-col justify-center items-center
		text-2xl
		w-full h-fit;
	}
	.hero-text-lg {
		@apply border-[1px] border-dashed border-white/90
		w-full h-fit
		text-2xl
    hidden

    md:flex 
    md:flex-row 
    md:justify-start 
    md:items-start;
	}
}

/* Service Page */
@layer components {
	.services-container {
		@apply border-4 border-dotted border-yellow-500
		flex flex-col justify-center items-center
    relative
    w-full h-screen
    shrink-0
		bg-amber-800
		text-white
    p-2
    
    md:p-6;

		height: 100vh;
		min-width: 400px;
		min-height: 650px;
	}
	.services-bg {
		@apply bg-green-950
		w-1/2 h-full
		absolute
		top-0 left-0;
	}

	.services-content {
		@apply border-4 border-solid border-red-600
		flex flex-col justify-center items-center
		w-full h-full
    max-w-[1400px]
		gap-2;
	}
	.services-header {
		@apply border-[1px] border-dotted border-white/50
		flex flex-row justify-center items-center
		w-full h-fit
		py-2
		text-4xl
    
    md:justify-start;
	}
	.services-card {
		@apply border-[1px] border-dashed border-white
		flex justify-center items-center
    relative
		py-5 px-2 gap-2
		w-full h-fit;
	}
	.services-grid {
		@apply border-solid border-4 border-purple-500
    w-[150px]
    shrink-0
    absolute
    top-4 left-0
    hidden
    
    md:flex
    md:flex-col
    md:justify-center
    md:items-center
    lg:w-[220px]
    xl:w-[350px];
		height: calc(100% - 32px);
	}
	.sgrid-item {
		@apply border-white border-2 border-solid
    flex justify-start items-center
    w-full h-full
    p-2;
	}
	.services-arrow {
		@apply border-2 border-blue-600 border-solid
    h-[100px] w-[50px]
    relative
    
    md:hidden;
	}
}

/* Service Card */
@layer components {
	.servcard-container {
		@apply border-2 border-dashed border-green-600
		flex flex-col justify-start items-center
		w-full h-fit
    max-w-[300px]
    min-h-[440px]
		gap-2
		relative
		bg-amber-950
		py-2 px-8;
	}
	.servcard-title {
		@apply flex justify-center items-center
		w-full h-fit
		relative
		text-2xl;
	}
	.servcard-image {
		@apply border-2 border-solid border-white
		bg-amber-800
		flex justify-center items-center
		relative
		shrink-0
		w-[200px] h-[200px];
	}
	.servcard-footer {
		@apply /* border-2 border-solid border-red-600 */
		flex flex-col justify-between items-center
		w-full h-full
		gap-4
		pb-2
		relative;
	}
	.servcard-desc {
		@apply border-[1px] border-dashed border-white/50
		relative
		w-full h-fit;
	}
	.servcard-btns {
		@apply /* border-2 border-solid border-white */
		flex flex-row justify-between items-center
		relative
		gap-2
		w-full h-fit;
	}
	.progress-line {
		@apply w-full h-[2px]
		bg-gray-100/20;
	}
}

/* Team Page */
@layer components {
	.team-container {
		@apply border-4 border-solid border-white
		flex flex-col justify-center items-center
		bg-yellow-400
		text-white
		relative
		px-6
		w-full h-screen;
		min-width: 400px;
		min-height: 650px;
	}
	.team-title {
		@apply border-2 border-solid border-white
		flex flex-row justify-between items-center
		w-full h-fit
		text-4xl;
	}
}
